{%extends 'base_generic.html'%}
{% load static %}
{%block content%}
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="login-container">
        <h2 class="login-title text-center form-header mb-2">Edição de Movimentação</h2>
        <form method="POST">
            <label for="campo">Selecione o campo:</label>
                <select name="column" id="campo">
                    <option value="mov_tipo">Nome</option>
                    <option value="email">E-mail</option>
                </select>
                <div class="mb-2">
                    <label for="campo2">Insira o novo valor:</label>
                    <input name="value" id="campo2">
                </div>
            <button action='{% url "edicao_movimentacao" movimentacao.mov_id %}' type="submit" class="btn btn-primary btn-submit w-100 rounded-pill">Enviar</button>
            {% csrf_token %}
        </form>
    </div>
</div>

{%endblock%}