{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
    <div>
        <div class="container">
            <div class="search-bar">
                <input type="text" class="form-control" placeholder="Buscar fornecedor">
                <i class="bi bi-search"></i>
            </div>

            <div class="table-container">
                <table class="table custom-table">
                    <thead>
                        <tr>
                            <th style="color: #ff5b0f;">Tipo</th>
                            <th style="color: #ff5b0f;">Quantidade</th>
                            <th style="color: #ff5b0f;">Data</th>
                            <th style="width: 50px; color: #ff5b0f;">Editar</th>
                            <th style="width: 50px; color: #ff5b0f;">Excluir</th>
                            
                        </tr>
                    </thead>
                    {% for item in movimentacoes %}
                    <tbody>
                        <tr>
                            <td>{{item.mov_tipo}}</td>
                            <td>{{item.mov_quantidade}}</td>
                            <td>{{item.mov_data}}</td>
                            <td><a href="{% url 'edicao_movimentacao' item.mov_id %}" style='color:red'><i class="bi bi-pencil-square">Editar</i></a></td>
                            <td><a href="{% url 'exclusao_movimentacao' item.mov_id %}" style='color:red'><i class="bi bi-trash">Excluir</i></a></td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}