{%extends 'base_generic.html'%}
{% load static %}
{%block content%}
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="login-container shadow m-0">
        <h2 class="login-title text-center form-header mb-4">Cadastro de Produto</h2>
        <form method="post">
            <div class="mb-3">
                <input name='nome' type="text" class="form-control rounded-pill" placeholder="Nome">
            </div>
            <div class="mb-3">
                <input name='codigo' type="text" class="form-control rounded-pill" placeholder="Código de Barra">
            </div>
            <div class="mb-3">
                <input name='descricao' type="text" class="form-control rounded-pill" placeholder="Descrição">
            </div>
            <div class="mb-3">
                <input name='categoria' type="text" class="form-control rounded-pill" placeholder="Categoria">
            </div>
            <div class="mb-3">
                <input name='quantidade' type="text" class="form-control rounded-pill" placeholder="Quantidade">
            </div>
            <div class="mb-3">
                <input name='qtdMinima' type="text" class="form-control rounded-pill" placeholder="Quantidade Mínima">
            </div>
            <div class="mb-3"> 
                <input name='precoCompra' type="text" class="form-control rounded-pill" placeholder="Preço de Compra">
            </div>
            <div class="mb-3"> 
                <input name='precoVenda' type="text" class="form-control rounded-pill" placeholder="Preço de Venda">
            </div>
            <div class="mb-3"> 
                <input name='prazoValidade' type="date" class="form-control rounded-pill" placeholder="Prazo de Validade">
            </div>
            <div class="mb-3"> 
                <input name='local' type="text" class="form-control rounded-pill" placeholder="Local">
            </div>
            <div class="mb-3"> 
                <label for="select">Fornecedor:</label>
                <select  class='form-select-sm' name="fornecedor" id="select">
                    {% for item in fornecedores %}
                        <option value="{{item.for_id}}">{{item.for_nome}}</option>
                    {% endfor %}
                </select>
            </div>
            <button action='{% url "cadastro_produto" %}' type="submit" class="btn btn-primary w-100 rounded-pill">Enviar</button>
            {% csrf_token %}
        </form>
    </div>
</div>

{%endblock%}
