{%extends 'base_generic.html'%}
{% load static %}
{%block content%}
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="login-container shadow">
        <h2 class="login-title text-center form-header mb-2">Edição de Produto</h2>
        <form method="POST">
            <label for="campo">Selecione o campo:</label>
                <select name="column" id="campo">
                    <option value="pro_nome">Nome</option>
                    <option value="pro_codigo">Código de Barras</option>
                    <option value="pro_descricao">Descrição</option>
                    <option value="pro_categoria">Categoria</option>
                    <option value="pro_for_id">Fornecedor</option>
                    <option value="pro_precoCompra">Preço de Compra</option>
                    <option value="pro_precoVenda">Preço de Venda</option>
                    <option value="pro_prazoValidade">Prazo de Validade</option>
                    <option value="pro_quantidade">Quantidade</option>
                </select>
                <div class="mb-2">
                    <label for="campo2">Insira o novo valor:</label>
                    <input name="value" id="campo2">
                </div>
            <button action='{% url "edicao_produto" produto.pro_id %}' type="submit" class="btn btn-primary btn-submit w-100 rounded-pill">Enviar</button>
            {% csrf_token %}
        </form>
    </div>
</div>

{%endblock%}