{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
    <div>
        <div class="container-center">
            <div class="search-bar shadow-sm">
                <input type="text" class="form-control" placeholder="Buscar Produto">
                <i class="bi bi-search"></i>
            </div>

            <div class="table-container">
                <table class="table custom-table">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Código de Barras</th>
                            <th>Descrição</th>
                            <th>Categoria</th>
                            <th>Fornecedor</th>
                            <th>Preço de Compra</th>
                            <th>Preço de Venda</th>
                            <th>Prazo de Validade</th>
                            <th>Quantidade</th>
                            <th>Editar</th>
                            <th>Excluir</th> 
                        </tr>
                    </thead>
                    {% for item in produtos %}
                        <tbody>
                            <tr>
                                <td>{{item.pro_nome}}</td>
                                <td>{{item.pro_codigo}}</td>
                                <td>{{item.pro_descricao}}</td>
                                <td>{{item.pro_categoria}}</td>
                                <td>{{item.pro_for_id.for_nome}}</td>
                                <td>{{item.pro_precoCompra}}</td>
                                <td>{{item.pro_precoVenda}}</td>
                                <td>{{item.pro_prazoValidade}}</td>
                                <td>{{item.pro_quantidade}}</td>
                                <td><a href="{% url 'edicao_produto' item.pro_id %}" style='color:red'><i class="bi bi-pencil-square">Editar</i></a></td>
                                <td><a href="{% url 'exclusao_produto' item.pro_id %}" style='color:red'><i class="bi bi-trash">Excluir</i></a></td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}