{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
{% csrf_token %}
{% if user.is_superuser  %}
   <div>
        <div class="container">
            <div style="padding: 10px 0px 10px 0px; color: #ff5b0f;">
                <h3>Bem-vindo(a), gerente {{request.user.username}}</h3>
            </div>

            <div class="row">
                <div class="col-md-6 col-12" style="margin-right: 0px;">
                    <div class="card mb-3" style="width: 100%">
                        <div class="card-body">
                          <h5 class="card-title">Relatório</h5>
                          <li class="card-link m-0"><a href="{% url 'relatorio_alertas' %}">Gerar relatório de alertas</a></li>
                          <li class="card-link m-0"><a href="{% url 'relatorio_produtos' %}">Gerar Relatório PDF do Estoque</a></li>
                        </div>
                    </div>

                    <div class="card" style="width: 100%">
                        <div class="card-body" style="display: flex;">
                            <div><img src="./1.png" alt="" style="width: 50px;"></div>
                            <h5 class="card-title" style="padding: 10px;"><a href="{% url 'envio_email' %}">Enviar e-mail</a></h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mt-md-0 mt-3 col-12 pr-0" style="margin-right: 0px !important;">
                    <div class="card" style="height: 100%;">
                        <div class="card-body">
                          <h5 class="card-title">Alertas</h5>
                          <ul>
                            {% for item in notificacoes %}
                                <li>{{item.not_mensagem}}</li>
                            {% endfor %}
                          </ul>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
  </div>
{%else%}
<div>
    <div class="container">
        <div style="padding: 10px 0px 10px 0px; color: #ff5b0f;">
            <h3>Bem-vindo(a), funcionário {{request.user.username}}</h3>
        </div>

        <div class="row">
            <div class="col-md-6">
                    <div class="card" style="width: 100%; height: 100%;">
                        <div class="card-body">
                          <h5 class="card-title">Alertas</h5>
                          <ul>
                            {% for item in notificacoes %}
                                <li>{{item.not_mensagem}}</li>
                            {% endfor %}
                          </ul>
                        </div>
                    </div>
            </div>

            <div class="col-md-6">
                <div class="card" style="width: 100%">
                    <div class="card-body" style="display: flex;">
                        <div><img src="./1.png" alt="" style="width: 50px;"></div>
                        <h5 class="card-title" style="padding: 10px;"><a href="{% url 'envio_email' %}">Enviar e-mail</a></h5>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</div>
{%endif%}

{% endblock %}