{%extends 'base_generic.html'%}
{% load static %}
{%block content%}
<div class=" container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="login-container mb-5">
        <div class="login-icon">
            <img src="{% static '/images/profile.png' %}" alt="User Icon">
        </div>
        <h2 class="login-title text-center form-header mb-4">Cadastro de Fornecedores</h2>
        <form method="POST">
            <div class="mb-3">
                <input name='nome' type="text" class="form-control rounded-pill" placeholder="Nome">
            </div>
            <div class="mb-3">
                <input name='contato' type="text" class="form-control rounded-pill" placeholder="Contato">
            </div>
            <div class="mb-3">
                <input name='email' type="email" class="form-control rounded-pill" placeholder="Email">
            </div>
            <button action='{% url "cadastro_fornecedor" %}' type="submit" class="btn btn-primary btn-submit w-100 rounded-pill">Enviar</button>
            {% csrf_token %}
        </form>
    </div>
</div>

{%endblock%}