{%extends 'base_generic.html'%}
{% load static %}
{%block content%}
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="login-container m-0 shadow">
        <div class="login-icon">
            <img src="{% static '/images/profile.png' %}" alt="User Icon">
        </div>
        <h2 class="login-title text-center form-header mb-4">Edição de Fornecedores</h2>
        <form method="POST">
            <label for="campo">Selecione o campo:</label>
            <select class="form-select-sm" name="column" id="campo">
                <option value="for_nome">Nome</option>
                <option value="for_contato">Contato</option>
                <option value="for_email">E-mail</option>
            </select>
            <label for="campo2">Insira o novo valor:</label>
            <input name="value" class='mb-2' id="campo2">
            <button action='{% url "edicao_fornecedor" fornecedor.for_id %}' type="submit" class="btn btn-primary btn-submit w-100 rounded-pill">Enviar</button>
            {% csrf_token %}
        </form>
    </div>
</div>

{%endblock%}