{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
    <div>
        <div class="container">
            <div class="search-bar -sm">
                <input type="text" class="form-control" placeholder="Buscar funcionário">
                <i class="bi bi-search"></i>
            </div>

            <div class="table-container">
                <table class="table custom-table">
                    <thead>
                        <tr>
                            <th style='color:#ff5b0f'>Nome</th>
                            <th style='color:#ff5b0f'>Função</th>
                            <th style='color:#ff5b0f'>E-mail</th>
                            <th style='color:#ff5b0f;'>Editar</th>
                            <th style='color:#ff5b0f;'>Excluir</th>
                        </tr>
                    </thead>
                    {% for item in funcionarios %}
                        <tbody>
                            <tr>
                                <td>{{item.username}}</td>
                                <td>{{item.usu_tipo}}</td>
                                <td>{{item.email}}</td>
                                <td><a href="{% url 'edicao_funcionario' item.id %}" style='color:red'><i class="bi bi-pencil-square">Editar</i></a></td>
                                <td><a href="{% url 'exclusao_funcionario' item.id %}" style='color:red'><i class="bi bi-trash">Excluir</i></a></td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}