{% extends 'base_generic.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


<div class="container d-flex justify-content-center align-items-center login-page">
    <div class="login-container">
        <div class="login-icon">
            <img src="{% static '/images/profile.png' %}" alt="User Icon">
        </div>
        <h2 class="login-title">Login</h2>
        <form class="" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-control mb-0">
                <input class="mb-1 form-control rounded-pill" name='username' type="text" placeholder="Nome de usuário">
                <input class="mb-1 form-control rounded-pill" name='password' name='password' type="password" placeholder="Senha">
            </div>
            <input class="btn btn-primary mt-2 rounded-pill px-5" type="submit" value="Login"/>
            <br>
            <input class="btn btn-outline-primary mt-2 rounded-pill" type="Reset" value="Limpar"/>
        </form>
        <!-- <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <input type="email" name="email" class="form-control" placeholder="Email">
            <input type="password" name="senha" class="form-control" placeholder="Senha">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form> -->
    </div>
</div>
{% endblock %}