{%extends 'base_generic.html'%}
{% load static %}
{%block content%}
    <!-- conteudo (bloco do meio) -->
    <div class="container text-center">
        <br>
        <br>
        <div class="row">
          <div class="col">
            <h2 id="align">Olá, Gerente X</h2>
            <div class="row g-0 bg-body-secondary position-relative">
                <div class="col-md-6 mb-md-0 p-md-4">
                </div>
                <div class="col-md-6 p-4 ps-md-0">
                  <h5 class="mt-0">Relatório</h5>
                    <img src="{% static '/images/plus.svg' %}" alt="">
                    <a href="#">sklsaflask</a>
                </div>
              </div>
              <br>
              <div class="row g-0 bg-body-secondary position-relative">
                <div class="col-md-6 mb-md-0 p-md-4">
                </div>
                <div class="col-md-6 p-4 ps-md-0">
                  <h5 class="mt-0">Columns with stretched link</h5>
                  <p>Another instance of placeholder content for this other custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
                  <a href="#" class="stretched-link">Go somewhere</a>
                </div>
              </div>
              
          </div>
          <div class="col">
            <br>
            <br>
            <div class="row g-0 bg-body-secondary position-relative">
                <div class="col-md-6 mb-md-0 p-md-4">
                </div>
                <div class="col-md-6 p-4 ps-md-0">
                  <h5 class="mt-0">Columns with stretched link</h5>
                  <p>Another instance of placeholder content for this other custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
                  <a href="#" class="stretched-link">Go somewhere</a>
                </div>
            </div>
          </div>
        </div>
        <div class="row">
        </div>
      </div>
{%endblock%}